# ldap/ldaps
protocol =

host =

# usually 389 for ldap
port =

# e.g. DC=yourDomain,DC=com
rootDN =

# e.g. CN=Users,DC=yourDomain,DC=com
syncBaseDN =

connectTimeoutMillis =

# e.g. yourDomain\\userName
bindUser =
bindPassword =

# update sequence number from which to receive entries when doing incremental sync
highestCommittedUSN =

# attribute of the entry pointed to by the 'dsServiceName' attribute of the root DSE
invocationId = 5e33c8ac-5038-4dad-be83-a67894cc39d2

# which attributes to retrieve from AD, e.g. name,distinguishedName,mail
attributesToSync =

# (samAccountType=805306368) ------------------------> bit flag (805306368 = 0x30000000) for 'normal user account'
# (userAccountControl:1.2.840.113556.1.4.803:=512) --> bit flag for 'normal account'
# (isCriticalSystemObject=FALSE) --------------------> filters out accounts like Guest, Administrator, krbtgt, etc.
searchFilter = (&\
(samAccountType=805306368)\
(userAccountControl:1.2.840.113556.1.4.803:=512)\
(!(isCriticalSystemObject=TRUE))\
)

searchDeletedObjectsFilter = (&\
(objectClass=user)\
(userAccountControl:1.2.840.113556.1.4.803:=512)\
(lastKnownParent=CN=Users,DC=yourDomain,DC=com)\
)

